attrs==23.2.0
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
h11==0.14.0
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
mutagen==1.47.0
outcome==1.3.0.post0
prompt-toolkit==3.0.36
pycparser==2.22
pycryptodomex==3.20.0
Pygments==2.18.0
PySocks==1.7.1
questionary==2.0.1
requests==2.31.0
rich==13.7.1
selenium==4.20.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.11.0
urllib3==2.2.1
wcwidth==0.2.13
websockets==12.0
wsproto==1.2.0
yt-dlp==2024.4.9
